h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  min-width: 0;
  border: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted #362924;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Nickainley";
  src: url("font/Nickainley-Normal.woff2") format("woff2"), url("font/Nickainley-Normal.woff") format("woff");
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #362924;
}

h1,
h2,
h3 {
  font-weight: normal;
}

button {
  border: none;
}
button:not(:disabled) {
  cursor: pointer;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  margin: 2rem;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-15 {
  background: #b621fe;
  border: none;
  z-index: 1;
}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #fff;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}

.buttonType {
  display: inline-block;
  background-color: #da9c41;
  border: 2px solid #da9c41;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem;
  text-decoration: none;
}
.buttonType__text, .buttonType__icon {
  display: inline-block;
}
.buttonType__icon {
  margin-left: 0.5rem;
  width: 27px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("/icones/cocktail-white-27x24.png");
}
.buttonType:hover {
  border: 2px solid #852e01;
  color: #852e01;
  text-decoration: none;
  cursor: pointer;
}
.buttonType:hover .buttonType__icon {
  background-image: url("/icones/cocktail-leather-27x24.png");
}

.iconAction {
  display: block;
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 4px 4px;
}
.iconAction--home {
  background-image: url("/icones/home-white-32.png");
}
.iconAction--home:hover {
  background-image: url("/icones/home-crema-32.png");
}
.iconAction--list {
  background-image: url("/icones/return-white-32.png");
}
.iconAction--list:hover {
  background-image: url("/icones/return-crema-32.png");
}
.iconAction--filterSearch {
  background-image: url("/icones/filter-search-white-32.png");
}
.iconAction--filterSearch:hover {
  background-image: url("/icones/filter-search-crema-32.png");
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.linedTitle {
  position: relative;
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 3rem;
  color: #da9c41;
  text-align: center;
}
.linedTitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 60%;
  left: 0;
  z-index: -1;
  background-color: #da9c41;
}
.linedTitle__text {
  display: inline-block;
  max-width: calc(100% - 20px);
  background-color: #362924;
  padding: 0 1rem;
}

.logoImg {
  display: block;
  width: 190px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 95px);
}
@media screen and (min-width: 430px) {
  .logoImg {
    width: 230px;
    left: calc(50% - 115px);
  }
}
.logoImg img {
  max-width: 100%;
}

:root {
  --cover-timing: 0.5s;
  --cover-ease: cubic-bezier(0.66, 0.08, 0.19, 0.97);
  --cover-stagger: 0.15s;
  --text-timing: 0.75s;
  --text-stagger: 0.015s;
  --text-ease: cubic-bezier(0.38, 0.26, 0.05, 1.07);
  --title-stagger: 0.05s;
  --highlight: white;
}

.cardContainer {
  padding: 30px 10px 20px;
  margin: auto;
  width: 18rem;
}

.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 10/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 5vw 6vw -8vw, rgba(255, 255, 255, 0) 0 4.5vw 5vw -6vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
  transition: box-shadow 1s var(--cover-ease);
}
.card > * {
  z-index: 2;
}
.card > img {
  z-index: 0;
  transition: all 0.8s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
.card::before, .card::after {
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: all var(--cover-timing) var(--cover-ease);
  z-index: 1;
}
.card::after {
  transition-delay: var(--cover-stagger);
  top: 50%;
}
.card:hover {
  box-shadow: white 0 5vw 6vw -9vw, var(--highlight) 0 5.5vw 5vw -7.5vw, rgba(50, 50, 80, 0.5) 0px 4vw 8vw -2vw, rgba(0, 0, 0, 0.8) 0px 4vw 5vw -3vw;
}
.card:hover::before, .card:hover::after {
  transform: scaleX(1);
}
.card:hover h2, .card:hover .custom-btn {
  opacity: 1;
  transform: translateY(0);
  color: inherit;
}
.card:hover img {
  transform: scale(1.1);
}
.card:nth-of-type(1) {
  --highlight: coral;
}
.card:nth-of-type(2) {
  --highlight: #56ffe5;
}

.cardText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  inset: 20px;
  top: 0;
}

h2 {
  font-size: 3rem;
}

h2,
.custom-btn {
  color: var(--highlight);
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(20px);
  transition-property: transform, opacity, color;
  transition-timing-function: var(--text-ease);
  transition-duration: var(--text-timing), var(--text-timing), calc(var(--text-timing) * 2);
}

.cardTitle {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  margin-left: 2rem;
}

.header {
  position: absolute;
  z-index: 900;
  background-color: rgba(133, 46, 1, 0.7);
  width: 100%;
  height: 85px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 10px;
}
@media screen and (min-width: 430px) {
  .header {
    height: 110px;
  }
}
.header::after {
  content: "";
  display: block;
  clear: both;
}
.header .nav {
  height: 85px;
  padding: 16px;
}
@media screen and (min-width: 430px) {
  .header .nav {
    height: 110px;
    padding: 35px 20px;
  }
}
.header .iconAction--home {
  float: left;
}
.header .iconAction--list, .header .iconAction--filterSearch {
  float: right;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #852e01;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 427px;
}
.footer .logoFooter {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  width: 100%;
  height: 30%;
}
.footer .creditTexte {
  display: flex;
  justify-content: left;
  font-size: 1rem;
  padding-top: 10%;
  padding-left: 12%;
}
.footer .creditLink {
  padding-top: 3%;
  padding-left: 12%;
}
.footer .teamFooter {
  padding-top: 10%;
  padding-left: 12%;
}
.footer .team {
  padding-top: 3%;
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 30px;
  color: black;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: #da9c41;
  transition: width 0.4s ease;
  outline: none;
}
.search input:focus {
  width: 15rem;
}

.search img {
  position: relative;
  left: -2.2rem;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn .btn1 {
  height: 50px;
  margin: 20px;
  margin-bottom: 40px;
  position: relative;
  width: 155px;
}

.filter-btn .btn1 a {
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.5s;
}

.filter-btn .btn1:hover a {
  letter-spacing: 2px;
}

.filter-btn .btn1 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.filter-btn .btn1:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.filter-btn .btn1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 10px;
  width: 30px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.filter-btn .btn1:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.filter-btn .btn1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 10px;
  width: 30px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.filter-btn .btn1:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.filter-btn .btn1:nth-child(1):before,
.filter-btn .btn1:nth-child(1)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
}

.filter-btn .btn1:nth-child(2):before,
.filter-btn .btn1:nth-child(2)::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}

.filter-btn .btn1:nth-child(3):before,
.filter-btn .btn1:nth-child(3)::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}

.filter-btn .btn1:nth-child(4):before,
.filter-btn .btn1:nth-child(4)::after {
  background: #1e53ff;
  box-shadow: 0 0 5px #1e53ff, 0 0 15px #1e53ff, 0 0 30px #1e53ff, 0 0 60px #1e53ff;
}

.filter-btn .btn1:active a {
  color: #000;
}

.top {
  width: 100vw;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #852e01, #da9c41, #ff7d00);
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
}

.carousel {
  position: relative;
  width: 30rem;
  height: 30rem;
  perspective: 70rem;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  margin-left: 5rem;
  width: 20rem;
  height: 20rem;
  transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.actionSlide {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: unset;
  border: unset;
}
.actionSlide.left {
  transform: translateX(-100%) translateY(-50%);
}
.actionSlide.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.landingBox {
  background-image: url("/images/landing-1920.jpg");
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.landingBox__square {
  background-color: #362924;
  justify-content: center;
  height: 245px;
  width: 273px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 92px;
}
.landingBox__title {
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
}
.landingBox__title span {
  font-size: 64px;
  line-height: 100px;
}
.landingBox .listLink {
  padding: 10px 3px 10px 2px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.recipe {
  background: url("/images/landing-1920.jpg");
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe__rectangle {
  background-color: #362924;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 40px;
}
.recipe__title {
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 400;
}

.detail {
  background-color: #362924;
  height: 535px;
  padding: 0 20px;
}

.detail__title {
  font-size: 18px;
  text-decoration: underline;
  margin-top: 2rem;
}
.detail__title + p {
  margin-top: 1rem;
}

.ingredientsList {
  padding-left: 14px;
  padding-top: 0.5rem;
}

.ingredientsList li {
  margin-top: 0.5rem;
  flex: 1 0 100px;
  display: inline-block;
  width: 140px;
  padding-right: 20px;
}

.cocktailList {
  width: 80vw;
  padding-bottom: 2rem;
}

.cocktailListTitle {
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.commentaireComponent {
  padding: 0 20px;
}

.commentaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.commentaireTitle {
  margin-bottom: 20px;
  width: 100%;
}

.commentaireBox {
  background-color: #da9c41;
  color: #000000;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  list-style-type: none;
  border-radius: 30px;
  padding: 5px 20px;
}
.commentaireBox li {
  border-bottom: 1px solid black;
  padding: 15px 0;
}
.commentaireBox li .reviewerName {
  font-weight: 600;
  margin-bottom: 10px;
}
.commentaireBox li:last-child {
  border-bottom: none;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews .reviewTitle {
  width: 100%;
}
.reviews .reviewNote {
  align-self: flex-end;
}

.reviewBox {
  width: 100%;
  height: 150px;
  border-radius: 30px;
  padding: 15px;
  background-color: #da9c41;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviewBox input {
  background-color: #da9c41;
  border-style: none;
}
.reviewBox button {
  align-self: flex-end;
  background-color: #362924;
  color: #ffffff;
  padding: 5px 30px;
  border-radius: 30px;
}

@media only screen and (min-width: 600px) {
  .commentaireComponent {
    padding: 0 40px;
  }
  .reviewBox button {
    margin-right: 10px;
  }
}
.editorial {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #362924;
  line-height: 2em;
}
.editorial p {
  margin-top: 12px;
}

.intro {
  margin: 16px 12px 0;
}

.editoBlock__title {
  display: flex;
  justify-content: center;
  color: #ffc65c;
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.editoBlock__article {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

.editoBlock__illustration {
  display: flex;
  justify-content: center;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.editoBlock--type2 {
  background-color: #da9c41;
}
.editoBlock--type2 .editoBlock__title {
  color: #362924;
}

.header + .mainList {
  padding-top: 160px;
}

.mainList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header + .mainDetails {
  padding-top: 160px;
}/*# sourceMappingURL=App.css.map */