h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  min-width: 0;
  border: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted #362924;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Nickainley";
  src: url("../../assets/font/Nickainley-Normal.woff2") format("woff2"),
    url("../../assets/font/Nickainley-Normal.woff") format("woff"),
    url("../../assets/font/Nickainley-Normal.otf") format("otf"),
    url("../../assets/font/Nickainley-Normal.ttf") format("ttf");
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #362924;
}

h1,
h2,
h3 {
  font-weight: normal;
}

button {
  border: none;
}
button:not(:disabled) {
  cursor: pointer;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.buttonType {
  display: inline-block;
  background-color: #da9c41;
  border: 2px solid #da9c41;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem;
  text-decoration: none;
}
.buttonType__icon {
  padding-left: 0.5rem;
}
.buttonType:hover {
  border: 2px solid #852e01;
  color: #852e01;
  text-decoration: none;
  cursor: pointer;
}
.buttonType:hover .buttonType__icon {
  background-image: url("/icones/cocktail-leather-27x24.png");
}

.iconAction {
  display: block;
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 4px 4px;
}
.iconAction--home {
  background-image: url("/icones/home-white-32.png");
}
.iconAction--home:hover {
  background-image: url("/icones/home-crema-32.png");
}
.iconAction--list {
  background-image: url("/icones/return-white-32.png");
}
.iconAction--list:hover {
  background-image: url("/icones/return-crema-32.png");
}
.iconAction--filterSearch {
  background-image: url("/icones/filter-search-white-32.png");
}
.iconAction--filterSearch:hover {
  background-image: url("/icones/filter-search-crema-32.png");
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.linedTitle {
  position: relative;
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 3rem;
  color: #da9c41;
  text-align: center;
}
.linedTitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 60%;
  left: 0;
  z-index: -1;
  background-color: #da9c41;
}
.linedTitle__text {
  display: inline-block;
  max-width: calc(100% - 20px);
  background-color: #362924;
  padding: 0 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #852e01;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 427px;
}
.footer .logoFooter {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  width: 100%;
  height: 30%;
}
.footer .creditTexte {
  display: flex;
  justify-content: left;
  font-size: 1rem;
  padding-top: 10%;
  padding-left: 12%;
}
.footer .creditLink {
  padding-top: 3%;
  padding-left: 12%;
}
.footer .teamFooter {
  padding-top: 10%;
  padding-left: 12%;
}
.footer .team {
  padding-top: 3%;
}

.editorial {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #362924;
  line-height: 2em;
}
.editorial p {
  margin-top: 12px;
}

.intro {
  margin: 16px 12px 0;
}

.editoBlock__title {
  display: flex;
  justify-content: center;
  color: #ffc65c;
  font-family: "Nickainley", Georgia, Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.editoBlock__article {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

.editoBlock__illustration {
  display: flex;
  justify-content: center;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.editoBlock--type2 {
  background-color: #da9c41;
}
.editoBlock--type2 .editoBlock__title {
  color: #362924;
} /*# sourceMappingURL=App.css.map */
