//la balise associée à .buttonType peut être un lien <a> ou un bouton d'action <button>
//Ex HTML :
// <a className="buttonType" href="/">
//   <span className="buttonType__text">Tous les cocktails</span>
//   <span className="buttonType__icon" />
// </a>
.buttonType {
  display: inline-block;
  background-color: $colorCinnamon;
  border: 2px solid $colorCinnamon;
  font-weight: 700;
  font-size: $textMD;
  color: $colorWhite;
  padding: 1rem;
  text-align: center;
  text-decoration: none;

  &__text,
  &__icon {
    display: inline-block;
  }

  &__icon {
    // pour la span enfant incluant une icone en background
    margin-left: 0.5rem;
    width: 27px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("/icones/cocktail-white-27x24.png");
  }

  &:hover {
    // au survol
    border: 2px solid $colorLeather;
    color: $colorLeather;
    text-decoration: none;
    cursor: pointer;

    .buttonType__icon {
      background-image: url("/icones/cocktail-leather-27x24.png");
    }
  }
}

.iconAction {
  display: block;
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 4px 4px;

  &--home {
    background-image: url("/icones/home-white-32.png");

    &:hover {
      background-image: url("/icones/home-crema-32.png");
    }
  }

  &--list {
    background-image: url("/icones/return-white-32.png");

    &:hover {
      background-image: url("/icones/return-crema-32.png");
    }
  }

  &--filterSearch {
    background-image: url("/icones/filter-white.png");
    background-size: contain;

    &:hover {
      background-image: url("/icones/filter-crema.png");
      background-size: contain;
    }
  }
}

a {
  color: white;
  text-decoration: none;
}
