.header + .mainDetails {
  padding-top: 160px;
}

.mainDetails {
  .decoStars {
    font-size: 2rem;
    text-align: center;
    color: $colorCrema;
  }

  .listLinkDetails {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}
