// COLORS
$colorCoffee: #362924;
$colorLeather: #852e01;
$colorCointreau: #ff7d00;
$colorCinnamon: #da9c41;
$colorCrema: #ffc65c;
$colorWhite: #ffffff;
$colorBlack: #000000;

// FONTS
$fontTitle: "Nickainley", Georgia, Helvetica, sans-serif !default;
$fontText: "Roboto Condensed", Arial, Helvetica, sans-serif !default;
