// COLORS
$colorCoffee: #362924;
$colorLeather: #852E01;
$colorCointreau: #FF7D00;
$colorCinnamon: #DA9C41;
$colorCrema: #FFC65C;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

// FONTS
$fontTitle: "Nickainley", Georgia, Helvetica, sans-serif !default;
$fontText: "Roboto Condensed", Arial, Helvetica, sans-serif !default;
