// COLORS
$colorCoffee: #362924;
$colorLeather: #852e01;
$colorCointreau: #ff7d00;
$colorCointreauOpacity7: #ff7b00b4;
$colorCinnamon: #da9c41;
$colorCrema: #ffc65c;
$colorCremaOpacity5: #ffc65c00;
$colorWhite: #ffffff;
$colorBlack: #000000;

// FONTS
$fontTitle: "Nickainley", Georgia, Helvetica, sans-serif !default;
$fontText: "Roboto Condensed", Arial, Helvetica, sans-serif !default;

// TEXT AND TITLE SIZE
$textXS: 1rem; // 16px : footer
$textSM: 1.25rem; // 20px : standard text
$textMD: 1.5rem; // 24px : buttons + intro editorial
$textLG: 2rem; // 32px : titre card + sous titre editorial
$textXL: 3rem; // 48px : titre avec ligne
$textXXL: 4rem; // 64px
