.card {
  display: block;
  width: 300px;
  position: relative;
  background-color: $colorLeather;
  padding: 0.5rem 0.5rem 0.75rem;
}

.cardImage {
  max-width: 100%;
  object-fit: fill;
}

.cardTitle {
  font-size: $textMD;
  margin-top: 0.5rem;
}
