.search-box {
  position: relative;
  width: 100%;
  background-color: $colorCrema;
  margin: 1rem 0;

  input {
    font-family: $fontText;
    font-size: $textLG;
    border: 0;
    width: 100%;
    height: $heightSearchBar;
    padding: 0 1rem;
    background-color: $colorCrema;
    transition: all 0.5s cubic-bezier(0, 0, 0.43, 1.049);
    transition-property: width;
    z-index: 1;
    position: relative;
    appearance: none;
    outline: none;
  }

  button {
    border: 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: $heightSearchBar;
    background: $colorCrema;
  }

  input:not(:placeholder-shown) {
    width: calc(100% - 60px);
    + button {
      display: block;
    }
  }
}

@media screen and (min-width: 600px) {
  .search-box {
    width: 560px;
    left: calc(50% - (560px / 2));
  }
}
