.action-block {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 15rem;
  color: black;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: $colorCinnamon;
  // background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  outline: none;
}
.search img {
  position: relative;
  left: -2.2rem;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
