.commentaireComponent {
  margin-top: 4rem;
}

.commentaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.commentaireTitle {
  margin-bottom: 20px;
  width: 100%;
}

.commentaireBox {
  background-color: $colorCinnamon;
  color: $colorBlack;
  list-style-type: none;
  border-radius: 30px;
  padding: 5px 20px;
  form {
    overflow: auto;
  }

  form input[type="text"] {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 12px 20px 12px 0;
    background-color: transparent;
  }

  .commentBox {
    position: relative;
  }

  .commentLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $colorBlack;
    transform: scaleX(0);
    animation: commentLineScaleIn 0.2s forwards;
  }

  .commentButton {
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    float: right;
    border: none;
    margin: 10px 0 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
  }

  .sendButton {
    background-color: $colorLeather;
    color: $colorWhite;
  }

  .sendButton:disabled {
    color: $colorWhite;
    cursor: default;
    background-color: #cccccc;
  }

  .bottomBar {
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
    .lp {
      width: 8em;
      height: 8em;
    }
    .lp__drops,
    .lp__fall-line,
    .lp__worm {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transform-origin: 64px 64px;
    }
    .lp__drops {
      animation-name: drops;
      animation-timing-function: ease-in-out;
      stroke-dasharray: 22 307.85 22;
      visibility: hidden;
      transform: rotate(90deg);
    }
    .lp__fall-line {
      animation-name: fallLine1;
      animation-timing-function: ease-in;
      stroke-dasharray: 1 112;
      stroke-dashoffset: 114;
    }
    .lp__fall-line--delay1 {
      animation-name: fallLine2;
    }
    .lp__fall-line--delay2 {
      animation-name: fallLine3;
    }
    .lp__fall-line--delay3 {
      animation-name: fallLine4;
    }
    .lp__fall-line--delay4 {
      animation-name: fallLine5;
    }
    .lp__ring {
      stroke: hsla(var(--hue), 90%, 5%, 0.1);
      transition: stroke 0.3s;
    }
    .lp__worm {
      animation-name: worm;
      stroke-dasharray: 43.98 307.87;
      stroke-dashoffset: -131.94;
      transform: rotate(-90deg);
    }
  }

  .messageContainer {
    position: relative;
    width: 100%;
    word-wrap: break-word;
    margin: 20px 0;
    padding-left: 50px;
  }

  .user-circle {
    height: 2.2rem;
    border-radius: 50%;
    top: 0;
    left: 0;
  }

  .messageUser {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .messageText {
    font-size: 0.9rem;
    margin: 5px 0;
  }

  .messageIconsContainer {
    margin-top: 10px;
  }

  .messageIconsContainer > * {
    display: inline-block;
    color: grey;
    margin-right: 10px;
    cursor: pointer;
  }

  .arrowReplies {
    margin-top: 10px;
    cursor: pointer;
  }

  .arrowReplies > * {
    color: #4688de;
    display: inline-block;
  }
  .arrowReplies > i {
    margin-right: 10px;
  }

  li {
    border-bottom: 1px solid black;
    padding: 15px 0;

    .reviewerName {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  .reviewTitle {
    width: 100%;
  }

  .reviewNote {
    align-self: flex-end;
  }
}

.reviewBox {
  width: 100%;
  height: 150px;
  border-radius: 30px;
  padding: 15px;
  background-color: $colorCinnamon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    background-color: $colorCinnamon;
    border-style: none;
  }

  button {
    align-self: flex-end;
    background-color: $colorCoffee;
    color: $colorWhite;
    padding: 5px 30px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .reviewBox {
    button {
      margin-right: 10px;
    }
  }
}

@keyframes commentLineScaleIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .lp__ring {
    stroke: hsla(var(--hue), 90%, 95%, 0.1);
  }
}

/* Animations */
@keyframes drops {
  from {
    animation-timing-function: steps(1, end);
    stroke-dasharray: 0 351.85 0;
    visibility: hidden;
  }
  25% {
    animation-timing-function: ease-in-out;
    stroke-dasharray: 0 351.85 0;
    visibility: visible;
  }
  26% {
    stroke-dasharray: 4 343.85 4;
  }
  27% {
    stroke-dasharray: 8 335.85 8;
  }
  28% {
    stroke-dasharray: 12 327.85 12;
  }
  29% {
    animation-timing-function: ease-in;
    stroke-dasharray: 17 317.85 17;
  }
  32% {
    animation-timing-function: ease-out;
    stroke-dasharray: 25 301.85 25;
  }
  35%,
  47.5% {
    animation-timing-function: linear;
    stroke-dasharray: 22 307.85 22;
    visibility: visible;
  }
  50% {
    animation-timing-function: steps(1, end);
    stroke-dasharray: 0 307.85 43.98;
    visibility: hidden;
  }
  75% {
    animation-timing-function: ease-in-out;
    stroke-dasharray: 0 351.85 0;
    visibility: visible;
  }
  76% {
    stroke-dasharray: 4 343.85 4;
  }
  77% {
    stroke-dasharray: 8 335.85 8;
  }
  78% {
    stroke-dasharray: 12 327.85 12;
  }
  79% {
    animation-timing-function: ease-in;
    stroke-dasharray: 17 317.85 17;
  }
  82% {
    animation-timing-function: ease-out;
    stroke-dasharray: 25 301.85 25;
  }
  85%,
  97.5% {
    animation-timing-function: linear;
    stroke-dasharray: 22 307.85 22;
    visibility: visible;
  }
  to {
    stroke-dasharray: 43.98 307.85 0;
    visibility: hidden;
  }
}
@keyframes fallLine1 {
  from,
  15% {
    stroke-dashoffset: 114;
  }
  25%,
  65% {
    stroke-dashoffset: 1;
  }
  75%,
  to {
    stroke-dashoffset: -112;
  }
}
@keyframes fallLine2 {
  from,
  16% {
    stroke-dashoffset: 114;
  }
  26%,
  66% {
    stroke-dashoffset: 1;
  }
  76%,
  to {
    stroke-dashoffset: -112;
  }
}
@keyframes fallLine3 {
  from,
  17% {
    stroke-dashoffset: 114;
  }
  27%,
  67% {
    stroke-dashoffset: 1;
  }
  77%,
  to {
    stroke-dashoffset: -112;
  }
}
@keyframes fallLine4 {
  from,
  18% {
    stroke-dashoffset: 114;
  }
  28%,
  68% {
    stroke-dashoffset: 1;
  }
  78%,
  to {
    stroke-dashoffset: -112;
  }
}
@keyframes fallLine5 {
  from,
  19% {
    stroke-dashoffset: 114;
  }
  29%,
  69% {
    stroke-dashoffset: 1;
  }
  79%,
  to {
    stroke-dashoffset: -112;
  }
}
@keyframes worm {
  from {
    animation-timing-function: ease-out;
    stroke-dasharray: 87.96 307.87;
    stroke-dashoffset: -131.94;
  }
  25% {
    animation-timing-function: steps(1);
    stroke-dasharray: 87.96 307.87;
    stroke-dashoffset: -307.86;
  }
  25.01% {
    animation-timing-function: ease-in;
    stroke-dasharray: 43.98 307.87;
    stroke-dashoffset: -307.86;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dasharray: 43.98 307.87;
    stroke-dashoffset: -175.92;
  }
  50.01% {
    animation-timing-function: ease-out;
    stroke-dasharray: 87.96 307.87;
    stroke-dashoffset: -131.94;
  }
  75% {
    animation-timing-function: steps(1);
    stroke-dasharray: 87.96 307.87;
    stroke-dashoffset: 43.98;
  }
  75.01% {
    animation-timing-function: ease-in;
    stroke-dasharray: 43.98 307.87;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 43.98 307.87;
    stroke-dashoffset: -131.94;
  }
}
