.edito {
  font-family: $fontText;
  font-size: $textSM;
  margin-top: 4rem;

  &__intro {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2rem;

    p:first-child {
      margin-top: 0;
    }

    + .edito__listLink {
      margin-top: 2rem;
    }
  }

  .linedTitle {
    margin: 4rem 0 2rem;
  }

  p {
    margin-top: 12px;
    line-height: 1.5rem;
  }

  &__listLink {
    text-align: center;
    margin-top: 3rem;
  }
}

.editoBlock {
  padding: 2rem;

  &__title {
    color: $colorCrema;
    font-family: $fontTitle;
    font-size: 2.5rem;
    margin: 0 auto;

    + p {
      margin-top: 1rem;
    }
  }

  &--second {
    @media screen and (min-width: 1024px) {
      .editoBlock__article {
        order: -1;
      }
    }

    @media screen and (max-width: 599px) {
      background-color: $colorCinnamon;

      .editoBlock__title {
        color: $colorCoffee;
      }
    }
  }

  &--second,
  &--third {
    .editoBlock__article {
      @media screen and (max-width: 599px) {
        margin-top: 0;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__article {
    margin-top: 2rem;

    @media screen and (min-width: 1024px) {
      margin-top: 0;
      flex: 1 1 40%;
    }
  }

  &__illustration {
    text-align: center;
    position: relative;

    @media screen and (min-width: 1024px) {
      flex: 1 1 60%;
    }

    @media screen and (min-width: 600px) and (max-width: 1023px) {
      padding: 80px 0 60px;
    }

    @media screen and (min-width: 600px) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 350px;
        height: 270px;
        background-color: $colorLeather;
        z-index: -1;
      }

      &::before {
        background-color: $colorLeather;
        transform: translate(-80px, -60px) rotate(-6deg);
      }

      &::after {
        background-color: $colorCinnamon;
        transform: translate(-280px, -25px) rotate(5deg);
      }
    }

    img {
      max-width: 100%;
    }
  }

  &__noMobile {
    @media screen and (max-width: 599px) {
      display: none;
    }
  }
}
