.filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn .btn1 {
    height: 50px;
    margin: 20px;
    margin-bottom: 40px;
    position: relative;
    width: 155px;
}

.filter-btn .btn1 a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);  
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
}

.filter-btn .btn1:hover a {
    letter-spacing: 2px;
}

.filter-btn .btn1 a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
                rgba(255,255,255,0.15),
                transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.filter-btn .btn1:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.filter-btn .btn1::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px; 
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.filter-btn .btn1:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.filter-btn .btn1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
}

.filter-btn .btn1:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

.filter-btn .btn1:nth-child(1):before,
.filter-btn .btn1:nth-child(1)::after {
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}

.filter-btn .btn1:nth-child(2):before,
.filter-btn .btn1:nth-child(2)::after {
    background: #2bd2ff;
    box-shadow: 0 0 5px #2bd2ff,
    0 0 15px #2bd2ff,
    0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}

.filter-btn .btn1:nth-child(3):before,
.filter-btn .btn1:nth-child(3)::after {
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45,
    0 0 15px #1eff45,
    0 0 30px #1eff45,
    0 0 60px #1eff45;
}

.filter-btn .btn1:nth-child(4):before,
.filter-btn .btn1:nth-child(4)::after {
    background: #1e53ff;
    box-shadow: 0 0 5px #1e53ff,
    0 0 15px #1e53ff,
    0 0 30px #1e53ff,
    0 0 60px #1e53ff;
}
.filter-btn .btn1:active a {
    color: #000;
}