.filter-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.dropdown-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  button {
    border: 0;
    font-family: $fontText;
    background: $colorCrema;
    border-bottom: 1px solid $colorCoffee;
    padding: 10px 17px;
    width: 100%;
    text-align: left;
    font-size: $textMD;
  }

  .filter-list {
    width: 100%;
    list-style-type: none;

    li {
      margin: 0;
      background-color: $colorLeather;
      display: flex;
      justify-content: flex-start;

      a {
        font-family: $fontText;
        font-size: $textSM;
        padding: 7px 28px;
        width: 100%;
      }
    }

    li:hover {
      background-color: #672200;
    }
  }
}

.reset-filter {
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 600px) {
  .filter-btn {
    width: 560px;
    left: calc(50% - (560px / 2));
  }
}
