.footer {
  background-color: $colorLeather;

  &__wrapper {
    padding: 2rem;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }
  }

  &__block {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;

    &:not(.logoFooter) {
      margin-top: 2rem;

      @media screen and (min-width: 600px) {
        margin-top: 0;
        flex: 1 1 auto;
        width: 40%;
        padding-left: 2rem;
      }
    }

    &.logoFooter {
      @media screen and (min-width: 600px) {
        flex: 1 0 auto;
        width: 20%;
        min-width: 150px;
        align-self: center;
      }
    }
  }

  &__block {
    @media screen and (min-width: 600px) {
      flex: 1 1 auto;
      width: 33%;
    }
  }

  &__title {
    font-weight: 700;
  }

  &__text {
    margin: 1rem 0 0;
  }

  .credits_links {
    a {
      display: block;
    }
  }

  a {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;

    :hover {
      text-decoration: underline;
    }
  }
}
