.recipe {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1024px) {
    justify-content: space-between;
    gap: 0;
  }

  .subTitle {
    + p,
    + ul {
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 0.75rem;
    line-height: 1.5rem;
  }

  .card {
    padding-bottom: 0.5rem;
  }

  &__card {
    flex: 0 0 300px;

    @media screen and (max-width: 599px) {
      align-self: center;
    }
  }

  &__ingredients {
    flex: 0 0 100%;

    @media screen and (min-width: 600px) {
      flex: 1 0 200px;
      padding: 0 1rem;
    }

    @media screen and (min-width: 1024px) {
      flex: 0 0 300px;
      padding: 0 3rem;
    }
  }

  &__prepa {
    flex: 0 0 100%;

    @media screen and (min-width: 1024px) {
      flex: 1 0 auto;
      width: calc(100% - 600px);
      padding-left: 3rem;
      border-left: 1px solid $colorCinnamon;
    }
  }

  &__list {
    @include ulBullet(0 1.2rem, 0, disc);
    font-size: $textSM;

    @media screen and (max-width: 599px) {
    }

    li {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  &__text {
    font-size: $textSM;
  }
}
