.search{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 30px;
    color: black;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: $colorCinnamon;
    // background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
    
    &:focus{ width: 15rem; }
}
.search img {
    position: relative;
    left: -2.2rem;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

    