.top {
  width: 100vw;
  height: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(
    45deg,
    $colorLeather,
    $colorCinnamon,
    $colorCointreau
  );
  font-family: $fontTitle;
}

.carousel {
  position: relative;
  width: 30rem;
  height: 30rem;
  perspective: 70rem;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  margin-left: 5rem;
  width: 20rem;
  height: 20rem;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.actionSlide {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;

  &.left {
    transform: translateX(-100%) translateY(-50%);
  }

  &.right {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
}
